/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');


/* Common style css  */
body {
    margin: 0px;
    padding: 0px;
    background: #F3F1FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Poppins', sans-serif;
}

/* Top players style css  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}